


@model List<ResultInstructorDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Eğitmenler</h1>
@{
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Profil Resmi</th>
        <th>Ad Soyad</th>
        <th>Unvan</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var ınstructor in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@ınstructor.ImageUrl" style="height:75px;width:75px" />  </td>
            <td>@ınstructor.FullName</td>
            <td>@ınstructor.Title</td>
            <td>
                <a href="/Admin/Instructor/DeleteInstructor/@ınstructor.InstructorId" class="btn btn-danger">Sil</a>
                <a href="/Admin/Instructor/UpdateInstructor/@ınstructor.InstructorId" class="btn btn-info">Güncelle</a>
            </td>
        </tr>


    }
</table>
<a href="/Admin/Instructor/CreateInstructor" class="btn btn-primary">Yeni Eğitmen</a>