@using BabyCare.Web.Dtos.TestimonialDtos
@model CreateTestimonialDto
@{
    ViewData["Title"] = "Testimonial Ekleme";
}

<div class="container mt-5 ">
    <h2 class="fw-bold mb-4">Yeni etkinlik ekle </h2>
    <form asp-action="CreateTest" method="post" class="shadow-sm p-4 rounded bg-light">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Mesleğiniz</label>
            <input asp-for="Title" class="form-control" placeholder="Mesleğinizi  Girin" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="HeadName" class="form-label">Başlık Adı</label>
            <input asp-for="HeadName" class="form-control" placeholder="Başlık Adı Girin" />
        </div>

        <div class="mb-4">
            <label asp-for="FirstName" class="form-label">İsim</label>
            <input asp-for="FirstName" class="form-control" placeholder="İsim giriniz" />

        </div>

        <div class="mb-4">
            <label asp-for="ImageUrl" class="form-label">Profil Görseli</label>
            <input asp-for="ImageUrl" class="form-control" placeholder="Görsel Url Giriniz" />

        </div>


        <div class="mb-3">
            <label asp-for="Description" class="form-label">Açıklama</label>
            <textarea asp-for="Description" rows="3" class="form-control" placeholder="Açıklama giriniz"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Stars" class="form-label">Değer verin</label>
            <input asp-for="Stars" type="number" min="1" max="5" class="form-control" placeholder="1-5 arasında puan giriniz" />
            <span asp-validation-for="Stars" class="text-danger"></span>
        </div>



      

        <div class="d-flex justify-content-end">
            <a asp-action="Index" class="btn btn-secondary me-2">İptal</a>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>



    </form>



</div>
