@using BabyCare.Web.Dtos.BannerDto
@model List<ResultBannerDto>


@*
_BannerComponent
*@
<div class="container-fluid py-5 hero-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            @foreach (var item in Model)
            {


                <div class="col-lg-7 col-md-12">
                    <h1 class="mb-3 text-primary">@item.Title</h1>
                <h1 class="mb-5 display-1 text-white">@item.Description</h1>
                <a href="" class="btn btn-primary px-4 py-3 px-md-5  me-4 btn-border-radius">Gezinmeye Başlayın</a>
                <a href="" class="btn btn-primary px-4 py-3 px-md-5 btn-border-radius">Hakkımızda</a>
            </div>
            }
        </div>
    </div>
</div>
